/*Copyright 1996-2017 Information Builders, Inc. All rights reserved.*/
/* $Revision: 1.1 $: */

			body
			{
				margin:0px;
				width:100%;
				height:100%;
				font-family: 'Hind', sans-serif;
				color: rgb(102,102,102);
			}
			.main-box
			{
				position:absolute;				
				border:1px solid #ccc;
				left:5px;
				top:5px;
				right:5px;
				bottom:5px;
				font-family: 'Hind', sans-serif;
				color: rgb(102,102,102);
								
			}
			.explore-box
			{
				flex: 1 1 auto;
				height: 1px;
				
			}
			
			.title-bar
			{
				flex:0 0 auto;
				height:4em;
				background-color:#337ab7;
			}
			.title-label
			{
				margin-left:2em;
				color:white;
				font-size:1.8em;
			}
			.toolbar
			{
				color:rgb(102,102,102);
				flex:0 0 auto;
				padding:5px;				
				border-bottom:1px solid #ccc;
				height: 40px;
			}
			.crumb-box
			{
				font-size: 14px;
				width: 50%;				
				
			}
			.crumb-button
			{
				text-overflow: ellipsis;
			}
			.toolbar-spacer
			{
				flex:1 1 auto;
			}
			.txt-search
			{
				margin-right: 4px;
				font-size: 14px;
				width: 90%;			
			}
			.btn-advanced-search, .btn-clear-search
			{
				margin-right:4px;
			}
			
			.div-search
			{
				margin-right: 16px;
			}
			.div-search:hover
			{
				background-color: rgba(211,211,211,.5);				
			}
			.toolbar-button-div
			{
				margin-right: 4px;
				margin-left:  4px;
				margin-top: 0px;
				margin-bottom: 0px;
				padding: 8px;
			}
			.div-search-phone
			{
				height: 40px;
				width: 95%;
				margin-left: 8px;
				margin-right: 8px;			
			}
				
			
			.toolbar-button-div:hover
			{
				background-color: rgba(211,211,211,.5);	
			}
			
			.btn-refresh, .btn-how-view, .btn-how-view-grid
			{
				color:rgb(102,102,102);
				font-size: 16px;
			}
			.btn-search
			{
				color:rgb(102,102,102);
				font-size:1.5em;
				margin-right:5px;
			}
			.left-pane
			{
				
				width: 250px;	
				flex: .2 0 auto;			
				overflow: hidden;
				
								
			}
			.left-splitter
			{
				width: 4px;				
			}
			.left-splitter:hover
			{
				background-color: rgba(53, 184, 254, .6);
			}
			.ibfs-tree
			{				
				overflow:auto;			
				flex:1 1 auto;
				border-right:1px solid #ccc;
			}
			.tree-button-box2
			{
				
				width: 20px;
			}
			
			.tree-collapse-button 
			{
				font-size: 20px;
				border:1px solid #ccc;								
				
			}		
			.tree-showcollapse-button
			{
				font-size: 20px;
				border:1px solid #ccc;
				width: 20px;
				height: 20px;
				
			}
			.content-box
			{
				flex:1 1 auto;
			}
			.create-new-box
			{
				flex:0 0 auto;			
				
				width: 100%;
				
			}
			.content-title-bar
			{
				margin:10px;
			}
			.content-title-label
			{
				font-size:14px;
				color: rgb(102,102,102);
				font-family : 'Hind', sans-serif;
			}
			.content-title-spacer
			{
				flex:1 1 auto;
			}
			
			.content-title-btn2
			{
				font-size:1.5em;
				color: rgb(102,102,102);
			}
			.content-title-btn 
			{
				font-size:14px;
				color: rgb(102,102,102);
			}
			.create-new-items-box
			{
				margin-bottom:10px;
			}
			.create-new-item 
			{	
				height:110px;
				width: 100px;
				font-size: 12px;				
				color: rgb(102,102,102);
				cursor: pointer;									
			}
			.create-new-item .ibx-label-glyph 
			{
				font-size:20px;				
				margin-bottom: 10px;
				margin-top: 20px;
				margin-left: 20px;
				margin-right: 20px;
				color: white;
				
				border-bottom-left-radius:25px;
				border-bottom-right-radius:25px;
				border-top-left-radius:25px;
				border-top-right-radius:25px;
				height: 50px;	
				width:50px;	
				box-sizing:border-box;			
				
				text-align: center;
				
				display: inline-block;
				padding-top:15px;
			}
			.create-new-item-image-purple .ibx-label-icon
			{				
				background-color: rgb(114,102,186);
				border-bottom-left-radius:25px;
				border-bottom-right-radius:25px;
				border-top-left-radius:25px;
				border-top-right-radius:25px;
			
			}
			
			.create-new-item-image-teel .ibx-label-icon
			{				
				background-color: rgba(25,169,213,.7);
				border-bottom-left-radius:25px;
				border-bottom-right-radius:25px;
				border-top-left-radius:25px;
				border-top-right-radius:25px;
			
			}
			
			.create-new-item-red .ibx-label-glyph
			{
				border-color: red;
				background-color: red;
			}
			.create-new-item-green .ibx-label-glyph
			{
				border-color: rgb(35,173,68);
				background-color: rgb(35,173,68);
			}
			.create-new-item-blue .ibx-label-glyph
			{
				border-color: blue;
				background-color: blue;
			}
			.create-new-item-yellow .ibx-label-glyph
			{
				border-color: rgb(250, 215, 50);
				background-color: rgb(250, 215, 50);
			}
			.create-new-item-teel .ibx-label-glyph
			{
				border-color: rgba(25,169,213,.7);
				background-color: rgba(25,169,213,.7);
			}
			.create-new-item-purple .ibx-label-glyph
			{
				border-color: rgb(114,102,186);
				background-color: rgb(114,102,186);
			}
			.create-new-item-black .ibx-label-glyph
			{
				border-color: black;
				background-color: black;
			}
			.create-new-item .ibx-label-text
			{
				color: rgb(102,102,102);
				font-size:11px;				
			}
					
			.create-new-item img
			{
				margin-top: 20px;				
			}
			.files-box
			{
				flex:1 1 auto;
				background-color:#e4f1f9;
				border-top:1px solid #ccc;
				overflow:auto;

			}
			.files-box-files
			{
				padding:4px;
				overflow:auto;
				background-color:#e4f1f9;
				flex: 1 1 auto;
			}
			.folders-box-folders
			{
				padding:4px;
				overflow:auto;
				background-color:#e4f1f9;
			}
			.file-item
			{
				position: relative;
				width:220px;
				height:200px;
				margin:10px;
				background:#fff;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 2px 6px 0 rgba(0,0,0,0.06);
				cursor:pointer;								
			}
			
			.file-item-text-box 
			{
			    position: absolute; 
			   	top:0;
			   	left:0;	
			   	height: 160px;
			   	width: 214px;
			   	margin: 4px;		
			    color: rgb(0,0,0);
			    font-weight: bold;
				text-overflow: ellipsis;
				white-space: wrap;	
				background-color: rgba(256,256,256,.9)			
			}			
			
			.folder-item
			{
				width:220px;
				height:40px;
				margin:10px;
				background:#fff;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 2px 6px 0 rgba(0,0,0,0.06);
				cursor:pointer;
			}
			.folder-item-selected
			{
				background-color: rgba(53, 184, 254, .6);
			}
			
			.folder-item:hover, .file-item:hover
			{
				border: 8px solid rgba(53, 184, 254, .6);				
				margin:2px;
			}
						
			.item-image
			{
				height: 160px;
				width: 220px;
				object-fit: contain;
				margin-bottom: 6px;				
			}
			.item-image-default
			{
				height: 80px;
				width: 80px;
				padding-left: 70px;
				padding-right: 70px;
				padding-top: 40px;
				padding-bottom: 46px;				
			}				
			.image-text
			{
				text-align: center;
				font-size: 14px;
				height: 24px;
				text-overflow: ellipsis;				
				overflow:hidden;
				white-space: nowrap;					
				flex: 1 1 auto;	
				margin-right: 4px;
				margin-left: 4px;			
			}
			.folder-image-text
			{
				font-weight: bold;
				margin-top: 4px;
			}
						
			.image-menu2
			{
				height:20px;
				font-size: 16px;
				min-width:16px;
				float:right;
				position:relative;
				
				margin-top:6px;				
				
				margin-left: 2px;
				
				
			}
			.flex-grid-cell-title
			{
				font-size: 14px;
				font-weight: bold;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 0px;
				padding-right: 0px;				
				border-bottom:1px solid #ccc;
				text-align: left;
				
				
			}
			
			.files-box-files-title
			{
				flex: 0 0 auto;
				border-bottom:1px solid #ccc;
			}
			
			.grid-cell-title
			{
				font-size: 14px;
				font-weight: bold;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 0px;
				padding-right: 0px;				
				
				text-align: center;
				
				
			}
			.grid-cell-title-cog
			{
				position: relative;
				width: 10px;
				right: 0px;
				
				
			}
			.flex-grid-cell
			{
				font-size: 14px;
				font-weight: normal;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 15px;
				padding-right: 0px;
			}
			.grid-cell-data
			{
				font-size: 14px;
				font-weight: normal;
				padding-top: 10px;
				padding-bottom: 10px;
				
				padding-left: 0px;
				padding-right: 0px;
			}
			
			.files-listing
			{				
				overflow: auto;
				background-color: white;
				flex: 1 1 auto;								
			}
			.files-box-files-folder-icon .ibx-label-glyph
			{
				color: rgb(250, 215, 50);
			}	
			.files-box-files-area
			{
				overflow: auto;				
				background-color: white;
			}	
			
			.list-icon-col
			{
				font-size: 18px;
			}
			
			.ibx-menu-item-label
			{
				font-size: 14px;
				margin-top: 2px;
				margin-bottom:2px;
			}	
			.folder-image-icon
			{			
				height:20px;
				width:24px;
				float:left;
				position:relative;	
				font-size: 18px;
				margin-top: 6px;			
				color: rgb(250, 215, 50);
				margin-left: 8px;
			}
			.list-folder-icon
			{
				color: rgb(250, 215, 50);
			}
			.content-title-label-folders, .content-title-label-files
			{
				font-size: 14px;
				width:100%;
				margin-top: 6px;
				margin-bottom: 6px;
				margin-left: 4px;
				
			}
			.content-title-btn-arrow
			{
				font-size: 14px;
				margin-right: 20px;
				margin-left: 4px;
			}
			.content-title-btn-name
			{
				font-size: 14px;
				margin-right: 4px;
				margin-left: 20px;
			}
			.folder-div
			{
				margin-top: 4px;
			}
			.dialog-area
			{
				width:100%;
			}
			.form-field-filler			
			{
				height:20px;				
			}
			.form-error-text
			{
				height:40px;				
				font-weight: bold;
				color: red;
			}			
			.title-form-grid
			{
				color: rgb(102,102,102);
			}
			.ibx-popup
			{
				font-size:14px;
				padding: 12px;
			}
			.right-carat
			{
				font-size: 14px;
				font-weight: normal;
				padding-left:14px;
				padding-right:14px;
			}
			.grid-row-hover
			{
				background-color: rgba(194, 228, 254, .6);
			}
			.grid-row-selected
			{
				background-color: rgb(194, 228, 254);
			}
			.grid-row-odd
			{
				background-color: rgb(240, 240, 240);
			}
			.output-frame-area
			{
				height:90;
			}
			.output-area
			{				
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    width: 100%;
			    height: 100%;
			    background-color: rgba(0,0,0,.6);			    
			    z-index: 499;
			    font-size: 18px;
			}
			.output-area-titlebar
			{
				opacity:.6;				
				width: 100%;
			}
			.output-area-label
			{
				margin-top: 20px;
				margin-left: 20px;
				color: white;
				font-size: 18px;
				font-weight: bold;
				
			}
			.output-area-close-button
			{
				
				margin-top:20px;
				margin-right: 20px;
				margin-left: 10px;
				color: white;
				font-weight: bold;
				
			}
			.output-area-popout-button
			{
				
				margin-top: 20px;
				margin-right: 10px;
				margin-left:20px;
				color: white;
				font-weight: bold;
				
			}
			.output-area-frame
			{
				width: 80%;
				height: 85%;
				margin-left:10%;
				margin-right:10%;
				
				margin-top:1%;
				background-color: white;			
				
			}
			.output-area-title-spacer
			{
				flex:1 1 auto;
			}
			.files-box-files-row
			{
				flex: 0 0 auto;
				
			}
			
			
			.properties-page
			{
				width: 500px;
			}
			.properties-page-titlebar
			{				
				width: 100%;
			}
			.properties-page-label
			{				
				margin-left: 20px;				
				font-size: 18px;
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.properties-page-close-button
			{				
				margin-top: 10px;
				margin-bottom: 10px;
				margin-right: 20px;
				margin-left: 10px;								
				font-size: 18px;
				
			}
			.properties-page-title-spacer
			{
				flex:1 1 auto;
			}
			.properties-page-titlebar
			{
				
				border-bottom-color: rgb(221, 221, 221);
				background-color: rgba(0,0,0,.03);
				border-bottom-width: 1px;
				border-bottom-style: solid;
				color: rgb(68,68,68);
			}		
			.file-item-hbox
			{				
				height: 32px;
			}	
			.menu-btn 
			{
			    margin-left: 0;
				width:160px;
				padding: 6px 12px;
				margin-bottom: 0;
				margin-top: 0;
				cursor: pointer;
				vertical-align: middle;
				background:#fff;
				color: #666;
				border: none;				
			}
			.menu-admin {
				width: calc(100% - 30px);
			}
			.menu-item-btn
			{
				cursor: pointer;			
			}
			.menu-btn-border		 
			{
				border-bottom:4px solid #15a4fa;
				cursor: default;
			}
			.home-banner
			{
				flex: 0 0 auto;
			    font-family: inherit;
				font-size:14px;
				font-weight: 400;
				height: 60px;
				box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);
			}	
			.banner-logo
			{
			    background: #fff url(../images/webfocus.png) no-repeat center center;
			    height: 60px;
			    width: 200px;
			    border: none;
			}
			.banner-logo-small
			{
			    background: #fff url(../images/ib_logo_sm.png) no-repeat center center;
			    height: 60px;
			    width: 40px;
			    border: none;
			    margin: 0 10px;
			    background-size: 40px 40px;
			    color: transparent;
			}
			.left-panel-small
			{
			    height: 44px;
			    width: 40px;
			    border: none;
				vertical-align: middle;
			    color: transparent;
			    padding:0px;
			}
			.banner-logo-button
			{
			    height: 100%;
			    vertical-align: top;
			    padding: 10px 20px;
			    color: #15a4fa;  
			    margin-right: 2px;  			    
			}
			.banner-logo-caret
			{
			    color: #15a4fa;  
			    margin-right: 2px;
			    margin-left:4px;  			    
			}
			.banner-logo-caret-right
			{
			    color: #15a4fa;  
			    margin-left: 2px;   			
			}
			.banner-logo-caret-bar-right
			{
			    margin-left:6px;  			
			}
			.banner-logo-btn 
			{
			    margin-left: 0;
				width:30px;
				padding: 6px 12px;
				margin-bottom: 0;
				margin-top: 0;
				cursor: pointer;
				vertical-align: middle;
				background:#fff;
				color: #666;
				border-left: 1px solid #eee;
			    border-right: 1px solid #eee;				
			}
			.banner-group-spacer 
			{
    			background-color: #fff;
    			margin-right:1px;
    			flex: 1 1 auto;
			}
			.main-panel
			{
				flex:1 1 auto;				
			}
			.left-main-panel
			{
				flex: 0 0 auto;
				width:200px;
				background-color: #34495E;
				color: #aaa;
				text-align: left;
				font-size: 14px;
			}
			.left-main-panel-small
			{
				width:60px;
			}
			.right-main-panel
			{
//				flex:1 1 auto;
				flex: 1 1 100%;
			}
			.left-main-panel-button-size
			{
			    font-size: 14px;
			    white-space: nowrap;
				height: 40px;
				color: #a0acbf;
				padding-left:20px;
				cursor: pointer;
			}
			.left-main-panel-image
			{
			    font-size: 14px;			
			}
			.left-main-panel-image-big
			{
			    font-size: 20px;			
			}
			.left-main-panel-content-button:hover
			{
			    color: #fff;
				background-color:#2E4054;			
			}
			.left-main-panel-content
			{
				padding-left:8px;
			}
			