/*Copyright 1996-2017 Information Builders, Inc. All rights reserved.*/
/* $Revision: 1.2 $: */

.folder-item
{
	width:220px;
	height:40px;
	margin:10px;
	background:#fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 2px 6px 0 rgba(0,0,0,0.06);
	cursor:pointer;
}
.folder-item-selected
{
	background-color: rgba(53, 184, 254, .6);
}

.folder-item:hover, .file-item:hover
{
	border: 8px solid rgba(53, 184, 254, .6);				
	margin:2px;
}
			
.item-image
{
	height: 160px;
	width: 220px;
	object-fit: contain;
	margin-bottom: 6px;				
}
.item-image-default
{
	height: 80px;
	width: 80px;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 40px;
	padding-bottom: 46px;				
}	

.file-item-hbox
{				
	height: 32px;
}				
.image-text
{
	text-align: center;
	font-size: 14px;
	height: 24px;
	text-overflow: ellipsis;				
	overflow:hidden;
	white-space: nowrap;					
	flex: 1 1 auto;	
	margin-right: 4px;
	margin-left: 4px;			
}
.folder-image-text
{
	font-weight: bold;
	margin-top: 4px;
}
			
.image-menu2
{
	height:20px;
	font-size: 16px;
	min-width:16px;
	float:right;
	position:relative;
	
	margin-top:6px;				
	
	margin-left: 2px;
	
	
}
.folder-image-icon
{			
	height:20px;
	width:24px;
	float:left;
	position:relative;	
	font-size: 18px;
	margin-top: 6px;			
	color: rgb(250, 215, 50);
	margin-left: 8px;
}
.folder-div
{
	margin-top: 4px;
}
.image-text
{
	text-align: center;
	font-size: 14px;
	height: 24px;
	text-overflow: ellipsis;				
	overflow:hidden;
	white-space: nowrap;					
	flex: 1 1 auto;	
	margin-right: 4px;
	margin-left: 4px;			
}
.file-item
{
	position: relative;
	width:220px;
	height:200px;
	margin:10px;
	background:#fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08),0 2px 6px 0 rgba(0,0,0,0.06);
	cursor:pointer;								
}
.file-item-text-box 
{
	position: absolute; 
	top:0;
	left:0;	
	height: 160px;
	width: 214px;
	margin: 4px;		
	color: rgb(0,0,0);
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: wrap;	
	background-color: rgba(256,256,256,.9)			
}			
.files-box-files-title
{
	flex: 0 0 auto;
	border-bottom:1px solid #ccc;
}
.grid-cell-title
{
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;				
	
	text-align: center;
	
	
}
.grid-cell-title-cog
{
	position: relative;
	width: 10px;
	right: 0px;
	
	
}
.files-box-files-area
{
	overflow: auto;				
	background-color: white;
}	
.grid-cell-data
{
	font-size: 14px;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	
	padding-left: 0px;
	padding-right: 0px;
}
.grid-row-odd
{
	background-color: rgb(240, 240, 240);
}
.grid-row-selected
{
	background-color: rgb(194, 228, 254);
}
