/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */


/******************************************************************************
	CSS GRID
******************************************************************************/
.ibx-csl-items-container
{
	flex:1 1 auto;
}

.ibx-csl-items-box
{
	flex:1 1 auto;
	overflow:hidden;
}

.ibx-csl-prev-btn, .ibx-csl-next-btn
{
	font-family:Material Icons;
	flex:0 0 auto;
	font-size:1.5em;
	align-self:stretch;
}

.ibx-csl-prev-btn::after
{
	content:"\E314";
}

.ibx-csl-next-btn::after
{
	content:"\E315";
}

.ibx-v-carousel .ibx-csl-prev-btn::after
{
	content:"\E316";
}

.ibx-v-carousel .ibx-csl-next-btn::after
{
	content:"\E313";
}

.ibx-csl-page-markers
{
	flex:1 1 auto;
}

.ibx-csl-page-marker
{
	width:5px;
	height:5px;
	margin:2px;
	border:1px solid #ccc;
	border-radius:50%;
}

.ibx-csl-page-marker.ibx-csl-page-selected
{
	background-color:#aaa;
}

.ibx-csl-item
{
	flex:0 0 auto;
}
