/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-csl-items-container
{
	flex:1 1 auto;
	overflow:hidden;
}

.ibx-csl-items-box
{
	flex:1 1 auto;
	position:relative;
	overflow:hidden;
}

.ibx-csl-prev-btn, .ibx-csl-next-btn
{
	font-family:"Material Icons";
	font-size:1.5em;
	flex:0 0 auto;
}

.ibx-csl-prev-btn-disabled.csl-btn-hidden, .ibx-csl-next-btn-disabled.csl-btn-hidden
{
	visibility:hidden;
}

.ibx-h-carousel .ibx-csl-prev-btn::before
{
	content:"\E314";
}

.ibx-h-carousel .ibx-csl-next-btn::before
{
	content:"\E315";
}

.ibx-v-carousel .ibx-csl-prev-btn::before
{
	content:"\E316";
}

.ibx-v-carousel .ibx-csl-next-btn::before
{
	content:"\E313";
}

.ibx-csl-page-markers
{
	flex:0 0 auto;
}

.ibx-csl-page-marker
{
	width:6px;
	height:6px;
	margin:2px;
	border:1px solid #ccc;
	border-radius:50%;
}
.ibx-csl-page-marker:hover
{
	border-color:black;
}

.ibx-csl-page-marker.ibx-csl-page-selected
{
	background-color:#aaa;
}

.ibx-csl-item
{
	flex:0 0 auto;
}
