/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

/*for auto close you window has to catch all pointer events...EXCEPT those on the collapsible element itself.*/
.body-collapsible-auto-close
{
	pointer-events:none;
}

.ibx-collapsible.auto-close
{
    pointer-events: all;
}

.ibx-collapsible
{
    transition: margin .3s;
}

