/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-color-picker
{
	font-family:"roboto";
	font-size:14px;
}

.cp-info-box
{
	margin-bottom: 10px;
}

.cp-swatch
{
	width:30px;
	margin-right:10px;
	border:1px solid #ccc;
}

.cp-text-value
{
	width:85px;
	padding:5px;
	border:1px solid #ccc;
}

.cp-text-value > input, .cp-text-value > input:hover
{
	border:none;
}
.ibx-palette-picker
{
	width:240px;
	border:1px solid #ccc;
}

.pp-palette-select
{
	margin-bottom:10px;
}

.pp-swatch-box
{
	xheight:55px;
	overflow:hidden;
}

.pp-swatch
{
	width:20px;
	height:20px;
	margin:2px;
	box-sizing:border-box;
	border:1px solid transparent;
}

.pp-swatch:hover
{
	outline:1px solid #888;
}

.pp-swatch.ibx-sm-selected
{
	outline:2px solid black;
}

.pp-swatch-custom
{
	border:1px solid #ccc;
}

.pp-custom-label
{
	font-weight:bold;
	margin:10px 0px 5px 2px;
}

.pp-no-fill-box
{
	margin-top:5px;
}

.pp-no-fill
{
	background-color:transparent;
	background-image: repeating-linear-gradient(45deg, white, white 2px, #eee 4px, #eee 6px);
	border:1px solid #ccc;
	margin-right:5px;
}