/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-datepicker {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
}

.ibx-datepicker-input {
    flex: 1 1 auto;
    border: none;
    border-bottom: 1px solid #c5c5c5;
    margin: 3px;
}

.ibx-datepicker.popup .ibx-datepicker-input {
    border-bottom: none;
}

.ibx-datepicker-date-wrapper .ui-datepicker {
    border: none;
}

.ibx-datepicker-date-wrapper td[data-range=true] > a {
    background-color: #ebf4f8;
}

.ibx-datepicker-date-wrapper td[data-range-from=true] > a,
.ibx-datepicker-date-wrapper td[data-range-to=true] > a,
.ibx-datepicker-date-wrapper .ui-datepicker-current-day > a {
    background-color: #357ebd;
    color: white;
}

