/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision: 1.2 $: */

.ibx-drag-source
{
}

.ibx-drop-target
{
}

.ibx-drag-image
{
	pointer-events:none;
	opacity:.5;
	z-index:2147483647;/*max z-index*/
}

.ibx-dragging
{
}

.ibx-external-drop-target
{
}

/*when dragging, stop iframes from eating the mouse events*/
.ibx-dragging iframe
{
	pointer-events:none;
}
