/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */


/******************************************************************************
	CSS GRID
******************************************************************************/
.ibx-grid {
    display:-ms-grid;
    display: grid;
}

.gd-inline
{
	display:-ms-inline-grid;
	display:inline-grid;
}

/******************************************************************************
	DATA GRID
******************************************************************************/
.ibx-data-grid
{
}
.dgrid-corner
{
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#eee;
}
.dgrid-header-col-bar, .dgrid-header-row-bar
{
	background-color:#eee;
	overflow:hidden;
}
.dgrid-header-col-bar
{
	border-bottom:1px solid #888;
}
.dgrid-header-row-bar
{
	border-right:1px solid #888;
}
.ibx-data-grid > .dgrid-header-bar-hidden
{
	display:none;
}
.ibx-data-grid .dgrid-col-hidden, .ibx-data-grid .dgrid-row-hidden
{
	display:none;
}
.dgrid-header-col
{
	flex:0 0 auto;
	padding:.5em;
}
.dgrid-header-row
{
	min-width:3em;
	padding:0px .5em 0px .5em;
	border-bottom:1px solid #ccc;
	box-sizing:border-box;
}
.dgrid-header-col-splitter
{
	min-width:0px;
	width:5px;
	background-color:transparent;
	border-right:1px solid #ccc;
}
.dgrid-grid
{
	overflow:auto;
}
.dgrid-row
{
	flex:0 0 auto;
}
.dgrid-row:hover
{
	background-color:#efefef;
}
.dgrid-cell
{
	flex:0 0 auto;
	overflow:hidden;
	padding:.5em;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	box-sizing:border-box;
}
.dgrid-cell:hover
{
	background-color:thistle;
}
.dgrid-cell.ibx-sm-selected
{
	background-color:#666;
	color:white;
}
.dgrid-cell-indent
{
}
.dgrid-cell-expandable::before
{
	flex:0 0 auto;
	font-family:"Material Icons";
	width:1em;
	content:"\e145";
}
.dgrid-cell-expandable-expanded::before
{
	content:"\e15b";
}
.dgrid-cell-indent-padding::before
{
	flex:0 0 auto;
	padding-left:1em;
	content:" ";
}

/******************************************************************************
	FLEX GRID
******************************************************************************/
.ibx-flex-grid
{
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

.ibx-flex-grid-row
{
}

.ibx-flex-grid .ibx-flex-grid-cell
{
	position:relative;
	flex:0 1 auto;
}


