/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-flex-grid
{
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

.ibx-flex-grid-row
{
}

.ibx-flex-grid .ibx-flex-grid-cell
{
	position:relative;
	flex:0 1 auto;
	box-sizing:border-box;
	padding:0px;
}

/*
@media (max-width: 1024px) and (orientation:portrait)
{
	.ibx-grid-cell
	{
		flex-grow:1;
		min-width:50%;
		background-color:ivory;
	}
}
*/

.ibx-grid {
    display: grid;
    display:-ms-grid;
}
