/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */


/******************************************************************************
	CSS GRID
******************************************************************************/
.ibx-grid {
    display:-ms-grid;
    display: grid;
}

.gd-inline
{
	display:-ms-inline-grid;
	display:inline-grid;
}

/******************************************************************************
	FLEX GRID
******************************************************************************/
.ibx-flex-grid
{
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

.ibx-flex-grid-row
{
}

.ibx-flex-grid .ibx-flex-grid-cell
{
	position:relative;
	flex:0 1 auto;
	box-sizing:border-box;
	padding:0px;
}


