/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-label
{
	overflow:hidden;
}

.ibx-label-text
{
	flex:0 1 auto;
	text-overflow:ellipsis;
	overflow:hidden;
	-ms-user-select:none;
	user-select:none;
}

.ibx-label-glyph
{
	font-size:inherit; /*because material-icons defines a default font size as 24px.*/
	position:relative;
	text-align:center;
}

.ibx-label-icon
{
	flex:0 0 auto;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	min-width:1em;
	min-height:1em;
}

.ibx-label.icon-no-scale .ibx-label-icon
{
	background-size:auto;
}

.ibx-icon-only .ibx-label-icon
{
	align-self:stretch;
	flex:1 1 auto;
}

.icon-left .ibx-label-glyph.ibx-glyph-spacer, .icon-left .ibx-label-icon.ibx-icon-spacer
{
	margin-right:.15em;
}
.icon-right .ibx-label-glyph.ibx-glyph-spacer, .icon-right .ibx-label-icon.ibx-icon-spacer
{
	margin-left:.15em;
}
.icon-top .ibx-label-glyph.ibx-glyph-spacer, .icon-top .ibx-label-icon.ibx-icon-spacer
{
	margin-bottom:.15em;
}
.icon-bottom .ibx-label-glyph.ibx-glyph-spacer, .icon-bottom .ibx-label-icon.ibx-icon-spacer
{
	margin-top:.15em;
}

.ibx-label-icon
{
	position:relative; /*amazing...ie has to have this or pointer-events:none won't work when disabled*/
}

.ibx-label.icon-left
{
	flex-direction:row;
}
.ibx-label.icon-top
{
	flex-direction:column;
}
.ibx-label.icon-right
{
	flex-direction:row;
}
.ibx-label.icon-right > .ibx-label-text
{
	order:-1;
}
.ibx-label.icon-bottom
{
	flex-direction:column;
}
.ibx-label.icon-bottom > .ibx-label-text
{
	order: -1;
}


/****OVERLAY SUPPORT****/
.ibx-label-overlay-frame
{
	display:flex;
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}

.ibx-label-overlay
{
}

.ibx-overlay-image
{
	width:33%;
	height:auto;
}

/*top-left*/
.tl
{
	align-items:flex-start;
}
/*top-center*/
.tc
{
	align-items:flex-start;
	justify-content:center;
}
/*top-right*/
.tr
{
	align-items:flex-start;
	justify-content:flex-end;
}
/*bottom-left*/
.bl
{
	align-items:flex-end;
}
/*bottom-center*/
.bc
{
	align-items:flex-end;
	justify-content:center;
}
/*bottom-right*/
.br
{
	align-items:flex-end;
	justify-content:flex-end;
}
/*left-center*/
.lc
{
	align-items:center;
}
/*right-center*/
.rc
{
	align-items:center;
	justify-content:flex-end;
}
/*center-center*/
.cc
{
	align-items:center;
	justify-content:center;
}
