/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-label
{
	overflow:hidden;
}

.ibx-label-text
{
	flex:0 1 auto;
	text-overflow:ellipsis;
	overflow:hidden;
	-ms-user-select:none;
	user-select:none;
}

.ibx-label-glyph
{
	font-size:inherit; /*because material-icons defines a default font size as 24px.*/
}

.icon-left .ibx-label-glyph.ibx-glyph-spacer
{
	margin-right:4px;
}
.icon-right .ibx-label-glyph.ibx-glyph-spacer
{
	margin-left:4px;
}

.ibx-label-icon
{
}
.icon-left .ibx-label-icon.ibx-icon-spacer
{
	margin-right:4px;
}
.icon-right .ibx-label-icon.ibx-icon-spacer
{
	margin-left:4px;
}

.ibx-label.icon-left
{
	flex-direction:row;
}
.ibx-label.icon-top
{
	flex-direction:column;
}
.ibx-label.icon-right
{
	flex-direction:row;
}
.ibx-label.icon-right > .ibx-label-text
{
	order:-1;
}
.ibx-label.icon-bottom
{
	flex-direction:column-reverse;
}