/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-menu
{
	padding:.25em;
	border:1px solid #888;
	border-radius:0px;
	box-shadow:.3em .3em .5em 0 gray;
	overflow:hidden;
	font-size:1em;
}

/*have to override the ibx-widget-disabled class*/
.ibx-menu.ibx-menu-disabled
{
	opacity:1;
}

/*essentially disable all the children of the menu*/
.ibx-menu.ibx-menu-disabled > .ibx-widget
{
	opacity:.5;
	pointer-events:none;
}

/*submenus have the same font size as parent*/
.ibx-menu .ibx-menu
{
	font-size:1em;
}

.ibx-menu-box
{
}

.ibx-menu-item
{
	padding:.15em;
}

.ibx-menu-item:hover
{
	background-color:#ddd;
}

.ibx-menu-separator
{
	margin-top:.25em;
	margin-bottom:.25em;
	border-top:1px solid #ccc;
}


.ibx-menu-item:focus
{
	box-shadow:none;
	background-color:#eee;
}

.ibx-menu-item-label
{
	flex:1 0 auto;
}
.ibx-menu-item .ibx-label-glyph
{
	width:1em;
}

.ibx-menu-item-marker
{
	font-family:"Material Icons";
	font-size:1em;
	color:#888;
	width:1em;
}

.ibx-start-marker
{
	display:none;
	margin-right:.25em;
	width:1em;
}
.ibx-end-marker
{
	margin-left:.25em;
	width:1em;
}

.ibx-start-marker.ibx-marker-uncheck,
.ibx-start-marker.ibx-marker-check,
.ibx-start-marker.ibx-marker-radio-uncheck,
.ibx-start-marker.ibx-marker-radio-check,
.ibx-end-marker.ibx-marker-sub
{
	display:inline-block;
}

.ibx-marker-uncheck::before
{
	content:"\e835";
}
.ibx-marker-check::before
{
	content:"\e834";
}

.ibx-marker-radio-uncheck::before
{
	content:"\e836";
}
.ibx-marker-radio-check::before
{
	content:"\e837";
}

/*marker for when there is a submenu*/
.ibx-marker-sub::before
{
	/*content:"\e5cc"; chevron right*/
	content:"\e037";/*play arrow*/
}

/***********************************MENU BAR/BUTTON CLASSES***********************************/
.ibx-hmenu-bar, .ibx-vmenu-bar
{
}
			
.ibx-menu-bar .ibx-menu-button
{
	padding:5px;
}

.ibx-hmenu-bar .ibx-menu-button-separator
{
	margin:2px;
	border-left:1px solid #ccc;
}

.ibx-vmenu-bar .ibx-menu-button-separator
{
	margin:2px;
	border-top:1px solid #ccc;
}
