/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-menu
{
	padding:.25em;
	border:1px solid #888;
	border-radius:0px;
	box-shadow:3px 3px 5px 0 #ccc;
	overflow:hidden;
	font-size:1em;
}

/*have to override the ibx-widget-disabled class*/
.ibx-menu.ibx-menu-disabled
{
	opacity:1;
}

/*essentially disable all the children of the menu*/
.ibx-menu.ibx-menu-disabled > .ibx-widget
{
	opacity:.5;
	pointer-events:none;
}

/*submenus have the same font size as parent*/
.ibx-menu .ibx-menu
{
	font-size:1em;
}

/*special menu fade - just shorter than normal fade*/
.ibx-menu.pop-effect-menu
{
	opacity:1;
	transition:opacity .1s;
}
.ibx-menu.pop-effect-menu.pop-closed
{
	opacity:0;
}


.ibx-menu-box
{
}

.ibx-menu-item
{
	padding:.15em;
}

/*[IBX-45] don't add space when check/radio menu item*/
.ibx-menu-item:not(.ibx-menu-item-check) .ibx-label-no-icon .ibx-label-text::before
{
	content:"\00a0";
	padding-left:1em;
}

.ibx-menu-item:hover
{
	background-color:#eee;
}

.ibx-menu-item-selected
{
	font-size:2em;
	transition:all 1s;
}

.ibx-menu-separator
{
	margin-top:.25em;
	margin-bottom:.25em;
	border-top:1px solid #ccc;
}

.ibx-menu-item:focus
{
	background-color:#eee;
}

.ibx-menu-item-label
{
	flex:1 0 auto;
}
.ibx-menu-item .ibx-label-glyph
{
	width:1em;
}

.ibx-menu-item-marker
{
	font-family:"Material Icons";
	font-size:1em;
	color:#888;
	width:1em;
}

.ibx-start-marker
{
	margin-right:.25em;
	width:1em;
}
.ibx-end-marker
{
	margin-left:.25em;
	width:1em;
}

.ibx-end-marker-cmd-shortcut
{
	flex:1 0 auto;
	font-family:inherit;
	text-align:right;
	margin-left:3em;
	width:auto;
}

.ibx-start-marker.ibx-marker-uncheck,
.ibx-start-marker.ibx-marker-check,
.ibx-start-marker.ibx-marker-radio-uncheck,
.ibx-start-marker.ibx-marker-radio-check,
.ibx-end-marker.ibx-marker-sub
{
	display:inline-block;
}

.ibx-marker-uncheck::before
{
	content:"";
}
.ibx-marker-check::before
{
	content:"\e5ca";
}

.ibx-marker-radio-uncheck::before
{
	content:"";
}
.ibx-marker-radio-check::before
{
	content:"\e86c";
}

/*marker for when there is a submenu*/
.ibx-marker-sub::before
{
	/*content:"\e5cc"; chevron right*/
	content:"\e037";/*play arrow*/
}

/***********************************MENU BUTTON CLASSES***********************************/
.ibx-menu-button .ibx-label-text
{
	flex:1 1 auto;
}
.ibx-menu-button-arrow
{
	font-size:1.5em;
}
.ibx-menu-button-arrow-right
{
	transform:rotate(-90deg);
}

.ibx-select-menu-button-label-editable
{
	border:1px solid #dedede;
	padding:1px;
}

.ibx-select-menu-button.ibx-select-style
{
	padding:1px 2px 1px 2px;
	border:1px solid #ccc;
	border-radius:.2em;
}
.ibx-select-menu-button.ibx-select-style .ibx-label-glyph
{
	font-size:1.2em;
	font-weight:bold;
	border:1px solid #ccc;
	border-radius:.2em;
}
.ibx-select-menu-button.ibx-select-style .ibx-label-glyph.ibx-glyph-spacer
{
	margin-left:5px;
}

.ibx-select-menu-item-highlighted
{
	background-color:#ddd;
}
.ibx-select-menu-item.ibx-sm-selected
{
	background-color:#888;
	color:white;
}

/***********************************SPLIT MENU BUTTON CLASSES***********************************/
.ibx-split-menu-button
{
	padding:.25em;
	border:1px solid #aaa;
}

.ibx-split-menu-button > .split-menu::before
{
	width:1em;
	font-family:"FontAwesome", "Font Awesome 5 Free";
	font-weight:900;
	content:"\F0D7";
	text-align:center;
}

.ibx-vsplit-menu-button > .split-menu::before
{
	content:"\f0da";
}

.ibx-split-menu-button > .split-separator
{
	height:1.5em;
	margin:0px .25em 0px .5em;
	border-left:1px solid #aaa;
}

.ibx-menu-item.ibx-split-button-default-item
{
	font-weight:900;
}

/***********************************MENU BAR CLASSES***********************************/
.ibx-hmenu-bar, .ibx-vmenu-bar
{
}
			
.ibx-menu-bar .ibx-menu-button
{
	padding:5px;
}

.ibx-menu-bar .ibx-nav-item-active
{
}

.ibx-hmenu-bar .ibx-menu-button-separator
{
	margin:2px;
	border-left:1px solid #ccc;
}

.ibx-vmenu-bar .ibx-menu-button-separator
{
	margin:2px;
	border-top:1px solid #ccc;
}


