/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-popup-glass-pane
{
	pointer-events:all;
	position:fixed;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:-1;
	background-color:black;
	opacity:.15;
}

.ibx-popup
{
	pointer-events:all;
	position:relative;
	display:inline-block;
	z-index:1000000;
	position:absolute;
	top:0px;
	left:0px;
	background-color:white;
	box-shadow:0 0 10px 0 #5e5e5e;
	border-radius:5px;
	overflow:hidden;
}

.ibx-popup:focus
{
	outline:none;
	box-shadow:0 0 10px 0 #5e5e5e;
}

iframe.ibx-popup-disabled-iframe
{
	pointer-events:none;
}

/*topmost popup*/
.pop-top
{
}

/*popup is modal*/
.pop-modal
{
}

/*open/close transitions*/
.pop-opening, .pop-closing
{
	pointer-events:none;
}

/*visiual effects*/
.pop-closed:not(.pop-closing)
{
	visibility:hidden;
}

/*nuttin*/
.ibx-popup.pop-effect-none
{
	opacity:1;
	transition:opacity 1ms;
}
.ibx-popup.pop-effect-none.pop-closed
{
	opacity:0;
	transition:opacity 1ms;
}

/*fade*/
.ibx-popup.pop-effect-fade
{
	opacity:1;
	transition:opacity .2s;
}
.ibx-popup.pop-effect-fade.pop-closed
{
	opacity:0;
}

/*scale*/
.ibx-popup.pop-effect-scale
{
	transform:scale(1);
	transition:transform .2s;
}
.ibx-popup.pop-effect-scale.pop-closed
{
	transform:scale(0);
}

/*dropdown*/
.ibx-popup.pop-effect-blind
{
	max-height:1000px;
	transition:max-height .2s ease-in;
}
.ibx-popup.pop-effect-blind.pop-closed
{
	max-height:0px;
}

/*dropdown*/
.ibx-popup.pop-effect-unveil
{
	max-width:1000px;
	max-height:1000px;
	transition:max-width .2s ease-out, max-height .2s ease-out;
}
.ibx-popup.pop-effect-unveil.pop-closed
{
	max-width:0px;
	max-height:0px;
	transition:max-width .2s ease-out, max-height .2s ease-out;
}

