/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

/*CLASSES FOR PROGRESS BAR*/
.ibx-progress-bar
{
	width:100px;
	height:50px;
	border:1px solid #888;
}

.ibx-progress-bar > .lab-start, .lab-end
{
	flex:0 0 auto;
	min-width:25px;
	align-self:center;
}

.ibx-progress-bar .lab-inline
{
	position:relative;
}

.ibx-progress-bar > .prog-bar
{
	flex:1 1 auto;
}

.ibx-progress-bar .prog-marker
{
	background-color:#aaa;
}


/*CLASSES FOR WAITING MARKER*/
.ibx-label.ibx-waiting
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:2147483647;/*basically max 32 bit value*/
}

.ibx-waiting .ibx-label-icon
{
	max-width:50%;
	max-height:50%;
}

.ibx-label-icon.wait-stretch
{
	flex: 1 1 auto;
	align-self:stretch;
	max-width:none;
	max-height:none;
}

.ibx-waiting-el-spacer
{
	padding:.5em;
}

.ibx-global-waiting
{
	font-size:18px;
	font-weight:700;
	color:#aaa;
}

.ibx-waiting-bubbles
{
}