/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-label.ibx-waiting
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:2147483647;/*basically max 32 bit value*/
}

.ibx-waiting .ibx-label-icon
{
	max-width:50%;
	max-height:50%;
}

.ibx-label-icon.wait-stretch
{
	flex: 1 1 auto;
	align-self:stretch;
	max-width:none;
	max-height:none;
}

.ibx-waiting-el-spacer
{
	padding:.5em;
}

.ibx-global-waiting
{
	font-size:18px;
	font-weight:700;
	color:#aaa;
}

.ibx-waiting-bubbles
{
}