/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

/*CLASSES FOR PROGRESS BAR*/
.ibx-progress-bar
{
	min-width:50px;
	min-height:3px;
	padding:1px;
	border:1px solid #aaa;
	border-radius:3px;
	overflow:hidden;
	background-color:transparent;
}

.ibx-progress-marker-start-end
{
	flex:1 1 auto;
	border-radius:3px;
	background-image: linear-gradient(to right, lightgreen 90%, transparent 100%);
}

.ibx-progress-marker-complete
{
	background-color:lightgreen;
	background-image: none;
}

.ibx-progress-gradient
{
}

.ibx-progress-label
{
	flex:1 1 auto;
	width:0px;
	align-self:center;
	overflow:visible;
}

/*CLASSES FOR WAITING MARKER*/
.ibx-label.ibx-waiting
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	z-index:2147483647;/*basically max 32 bit value*/
	background-color:white;
	opacity:.8
}

.ibx-waiting .ibx-label-text
{
}

.ibx-waiting .ibx-label-icon
{
	max-width:50%;
	max-height:50%;
}

.ibx-waiting .ibx-label-glyph
{
	font-size:2em;
}

.ibx-label-icon.wait-stretch
{
	flex: 1 1 auto;
	align-self:stretch;
	max-width:none;
	max-height:none;
}

.ibx-waiting.ibx-global-waiting
{
	font-size:18px;
	font-weight:700;
	color:#aaa;
}

/*CLASSES FOR WAITINGPROGRESS WIDGET*/
.ibx-waiting-progress-bar
{
}

.ibx-waiting-progress-bar .ibx-progress-bar
{
	margin:.5em;
}


