/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision: 1.25 $: */

/******************************************************************************
	PROPERTY GRID
******************************************************************************/
.pgrid-row
{

}
.pgrid-row:hover
{
	background-color:inherit;
}
.pgrid-cell:hover
{
	background-color:inherit;
}
.pgrid-display-value-cell, .pgrid-edit-value-cell
{
	flex:1 1 auto;
}
.pgrid-prop-editing
{
}
.pgrid-color-picker-swatch
{
	width:1em;
	height:1em;
	border:1px solid black;
}
.pgrid-color-picker-popup.ibx-popup
{
	padding:10px;
	border-radius:0px;
}
.pgrid-button
{
	flex:0 0 auto;
}

.pgrid-prop-text
{
	flex:1 1 auto;
	min-height:1.25em;
	border:1px solid #ccc;
	border-radius:.2em;
	padding:.2em;
}

.pgrid-prop-radio-button
{
	margin-right:5px;
}
.pgrid-prop-switch > .ibx-switch-spacer
{
	flex:0 0 auto;
	width:3px;
}
.pgrid-prop-select
{
	padding:0px;
	flex:0 0 auto;
}
.pgrid-prop-select .ibx-select-open-btn
{
	padding:0px 3px 0px 3px;
}
.pgrid-prop-slider-ctrl
{
	width:150px;
}
.pgrid-prop-slider-value
{
	padding:3px;
	min-width:3em;
	height:1em;
	border:1px solid #ddd;
}
.pgrid-prop-select-menu
{
	max-width:200px;
	padding:2px 0px 2px 5px;
	border:1px solid #ccc;
	border-radius:.2em;
}
.pgrid-prop-spinner
{
	min-width:4.5em;
}
.pgrid-prop-spinner .ibx-spinner-btn-grp
{
	font-size:.75em;
}
.pgrid-prop-border-ctrl
{
	margin-right:5px;
}
.pgrid-prop-border-menu-button
{
	padding:1px;
	margin-left: 3px;
}
.pgrid-prop-border-style-menuitem
{
	margin:1px 0em 1px 0em;
}
