/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

/******************************************************************************
	PROPERTY GRID
******************************************************************************/
.pgrid-display-value-cell, .pgrid-edit-value-cell
{
	flex:1 1 auto;
}
.pgrid-prop-editing
{
	xoutline:2px solid red;
}
.pgrid-color-picker-display-value
{
	width:1em;
	height:1em;
	border:1px solid black;
	margin:5px;
}
.pgrid-color-picker-popup.ibx-popup
{
	padding:10px;
	border-radius:0px;
}
