/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

/******************************************************************************
	PROPERTY GRID
******************************************************************************/
.pgrid-row
{

}
.pgrid-row:hover
{
	background-color:inherit;
}
.pgrid-cell:hover
{
	background-color:inherit;
}

.pgrid-display-value-cell, .pgrid-edit-value-cell
{
	flex:1 1 auto;
}
.pgrid-prop-editing
{
	outline:2px solid red;
}
.pgrid-color-picker-swatch
{
	width:1em;
	height:1em;
	margin:2px;
	border:1px solid black;
}
.pgrid-color-picker-value
{
	flex:1 1 auto;
	margin:2px;
}
.pgrid-color-picker-popup.ibx-popup
{
	padding:10px;
	border-radius:0px;
}
.pgrid-radio-button
{
	margin-right:3px;
}