/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-editable
{
	-ms-user-select:text;
	-moz-user-select:text;
	user-select:text;
}

.ibx-editable.ibx-content-editing
{
	cursor:text;
	text-overflow:unset;
}
