/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-rich-edit2
{
	cursor:auto;
	padding:8px;
	-ms-user-select:text;
	-moz-user-select:text;
	user-select:text;
	overflow:auto;
}