/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-sortable
{
	position:relative;
}

.ibx-sortable-dragging
{
	position: absolute;
	pointer-events:none;
	z-index:100000;
	outline:2px solid red;
}

.ibx-sortable-drag-item
{
	user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}


.ibx-sortable-placeholder
{
	visibility:hidden;
	pointer-events:none;
	z-index:-1;
}

