/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-splitter
{
	flex:0 0 auto;
	align-self:stretch;
	min-width:2px;
	min-height:2px;
	pointer-events:auto;
}

.ibx-splitter-v:active, .ibx-splitter-h:active
{
	background-color:#ddd;
}

.ibx-splitter-v
{
	display:inline-block;
	cursor:ew-resize;
}

.ibx-splitter-h
{
	display:block;
	cursor:ns-resize;
}

.ibx-body-splitter-v
{
	cursor:ew-resize;
}

.ibx-body-splitter-h
{
	cursor:ns-resize;
}

@media (min-device-width: 320px) and (max-device-width: 700px)
{
	.ibx-splitter-v
	{
		min-width:25px;
	}
	.ibx-splitter-h
	{
		min-height:25px;
	}
}

@media (min-device-width: 768px) and (max-device-width: 1024px)
{
	.ibx-splitter-v
	{
		min-width:25px;
	}
	.ibx-splitter-h
	{
		min-height:25px;
	}
}