/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */


.ibx-text-field input {
    border: none;
    flex: 1 1 auto;
    min-width: 0px;
}

.ibx-text-field > input {
    border-bottom: 1px solid #ccc;
}

.ibx-text-field > input:hover {
    border-bottom: 1px solid #aaa;
}

