.ibx-timepicker{
    border: 1px solid #ccc;
    border-radius: 0.2em;
    padding: 0.1em;
    align-items: center;
    justify-content: center;
}

.ibx-timepicker-spinner > .ibx-spinner-text-input{
	flex: 1 1 auto;
	padding:0 0 0 .5em;
	width: 3em;
 }

.ibx-timepicker-spinner > .ibx-spinner-text-input,
.ibx-timepicker-spinner > .ibx-spinner-text-input:hover,
.ibx-timepicker-spinner .ibx-spinner-btn-grp>.ibx-button{
    border: none;
}

.ibx-timepicker-colon{
	display: inline-flex;
	font-size: 1.5em;
	font-weight: bolder;
	margin: 0 0.2em 0 0.2em;
}

.ibx-timepicker-spinner-meridian{
    margin-left: 0.25em;
}
