/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-tooltip
{
	border-radius:0px;
	box-shadow:0px 0px 10px 0px #aaa;
}

.ibx-tooltip:focus
{
	box-shadow:0px 0px 10px 0px #aaa;
}

.ibx-text-tip
{
	padding:.25em;
}