/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-tree
{
	font-size:1em;
	line-height:1em;
	overflow:auto;
	border:2px solid black;
}

.ibx-tree-node
{
	flex:0 0 auto;
	padding-top:.75em;
}

.ibx-tree-root-node
{
	padding:0px;
	margin:0px;
}

.ibx-tree-node-button
{
	margin:0px 3px 0px 3px;
}

.ibx-tree-node-btn-hidden
{
	visibility:hidden;
}

.ibx-tree-node-btn-collapsed::before
{
	content:"\e145";
	font-family:"Material Icons";
	font-weight:bold;
	width:1em;
}
.ibx-tree-node-btn-expanded::before
{
	content:"\e15b";
	font-family:"Material Icons";
	font-weight:bold;
	width:1em;
}

.ibx-tree-node > .ibx-tree-node-children
{
	flex:1 1 auto;
	margin-left:.75em;
	display:none;
}

.ibx-tree-node-expanded > .ibx-tree-node-children
{
	display:inline-block;
}
