/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-tree
{
	font-size:1em;
	line-height:1em;
	border:2px solid black;
}

.ibx-tree-node
{
	padding-top:.75em;
}

.ibx-tree-root-node
{
	margin:0px;
}

.ibx-tree-node-button
{
	margin:0px 3px 0px 3px;
}

.ibx-tree-node-button > .ibx-label-glyph
{
	font-weight:bold;
	width:1em;
}

.ibx-tree-node-children
{
	flex:1 1 auto;
	margin-left:.75em;
}

.ibx-tree-node-collapsed
{
	display:none;
}

