/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-tree
{
}

.ibx-tree-node
{
	flex:0 0 auto;
	padding-top:.75em;
	line-height:1em;
}

.ibx-tree-root-node
{
	padding:0px;
	margin:0px;
}

.tnode-button
{
	margin:0px 3px 0px 3px;
	width:1em;
}

.tnode-btn-collapsed::before
{
	content:"\e145";
	font-family:"Material Icons";
	font-weight:bold;
}

.tnode-btn-expanded::before
{
	content: "\e15b";
	font-family:"Material Icons";
	font-weight:bold;
}

.ibx-tree-node > .tnode-children
{
	flex:1 1 auto;
	margin-left:.75em;
	display:none;
}

.ibx-tree-node.tnode-expanded > .tnode-children
{
	display:inline-block;
}
