/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

.ibx-widget
{
	display:inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-overflow-scrolling: touch;
}

.ibx-widget:focus
{
}

.ibx-widget-disabled
{
	opacity:.5;
	pointer-events:none;
}

.ibx-focus-root
{
}

.ibx-default-focused
{
}

.ibx-default-drag-image
{
	opacity:.4;
}