/*Copyright 1996-2016 Information Builders, Inc. All rights reserved.*/

.ibx-wizard.wiz .ibx-title-bar-caption::before
{
	font-family: 'Material Icons';
	font-size:1.5em;
	content:"flare";
	margin-right:.25em;
}
.ibx-wizard .ibx-wiz-tab-pane
{
	border:none;
}
.ibx-wiz-tab-pane > .ibx-tab-group
{
	display:none;
}
.ibx-wizard-page
{
	border:none;
}
.ibx-wizard .ibx-dialog-button.hidden
{
	display:none;
}