body {
    margin: 0px;
    height: 100vh;
}

div.main-box {
    height: 100vh !important;
}

div[data-ibx-type="ibxLabel"] {
    text-align: center;
    color: #939aa4;
    line-height: 50px;
    font-size: 20px;
}

/*SIDEBAR*/

div.sidebar {
    background-color: white;
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    min-height: 100vh;
    position: absolute;
    left: -250px;
    border-right: 1px solid #939aa4;
}

div.sidebar div[data-ibx-type="ibxLabel"] {
    border-bottom: 1px solid #939aa4;
}

div.sidebar div[data-ibx-type="ibxLabel"]:hover, div.sidebar-button.selected {
    background-color: aliceblue;
}

div.sidebar.open {
    left: 0px;
}

div.sidebar-top {
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid #939aa4;
    border-right: 1px solid #939aa4;
}

div.sidebar-content {
    border: 1px solid #939aa4;
}

div.refresh > *, div.logoff > * {
    position: relative;
    font-size: 32px;
    padding: auto;
    margin: auto;
    border-right: 1px solid #939aa4;
    color: #939aa4;
    background-color: white;
    min-height: 50px;
    min-width: 50px;
}

/*MAIN CONTENT*/
.main-content {
    width: 100%;
    min-height: 100%;
    /*background-color: antiquewhite;*/
}

div.top-bar {
    height: 50px;
    border-bottom: 1px solid #939aa4;
    width: 100%;
}

/* styling for frame render*/
.render-content {
    /*background-color: cadetblue;*/
    min-height: calc(100% - 50px) ;
    flex: 1;
}

.content-frame {
    display: flex;
    flex: 1;
    width: 100%;
}

div.hamburger, div.hamburger-button {
    position: absolute;
    left: 0px;
    min-height: 50px !important;
    min-width: 50px !important;

}

div.hamburger.sidebar-open {
    left: 251px;
}

div.sidebar, div.hamburger, div.hamburger * {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

div.hamburger-button {
    position: relative;
    padding: auto;
    margin: auto;
    border-right: 1px solid #939aa4;
    background-color: white;
}

.ibx-label-icon, .ibx-label-icon > * {
    font-size: 32px;
    color: #939aa4;
}

.title-box > div[data-ibx-type="ibxLabel"] {
    padding-left: 60px;
}

