.ides-toolbar-button{
	height:25px;
	width:30px;
	flex:0 0 auto;
	font-size:18px;
	margin:2px;
}

.ides-toolbar-button-checked{
	color: rgba(255,255,255,0.8);
  	background-color: #35b8fe;  
}

.ides-toolbar-menu{
	font-size:14px;
	margin:2px;
	padding:2px;
}

.ides-toolbar-separator{
	align-self:stretch;
	border-left:1px solid white;
	margin:2px 8px 2px 8px;
}

.ides-toolbar-help{
	  position:absolute;
	  right:10px;
 }

.main-box{
	background-color:yellow;
	background-image: url(http://pgmtxb:8080/ibi_apps/ibx/testing/txbtests/toolbar/resources/etc/amalfiDrive.png); 
	height: 800px; 
	width: 1000px; 
	border: 1px solid black; 
}
.runner-box{
	background-color: blue; 
	background-image: url(http://pgmtxb:8080/ibi_apps/ibx/testing/txbtests/toolbar/resources/etc/shrooms.png); 
	height: 800px; 
	width: 1000px; 
	border: 1px solid black; 
	visibility: hidden;
}
