/*Copyright 1996-2017 Information Builders, Inc. All rights reserved.*/
/* $Revision$: */

@font-face {
  font-family: 'ibx Icons';
  src:  url('../fonts/ibx-font.eot?z4id0a');
  src:  url('../fonts/ibx-font.eot?z4id0a#iefix') format('embedded-opentype'),
    url('../fonts/ibx-font.woff2?z4id0a') format('woff2'),
    url('../fonts/ibx-font.ttf?z4id0a') format('truetype'),
    url('../fonts/ibx-font.woff?z4id0a') format('woff'),
    url('../fonts/ibx-font.svg?z4id0a#ibx-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ibx-icons{
	font-family: 'ibx Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.ibx-glyph-axis-1:before {
  content: "\e9a2";
}
.ibx-glyph-axis-2:before {
  content: "\e9a3";
}
.ibx-glyph-matrix-columns:before {
  content: "\e99f";
}
.ibx-glyph-matrix-rows:before {
  content: "\e9a0";
}
.ibx-glyph-merge-group:before {
  content: "\e9a1";
}
.ibx-glyph-key:before {
  content: "\e98f";
}
.ibx-glyph-folder-open-o:before {
  content: "\e987";
}
.ibx-glyph-folder-o:before {
  content: "\e989";
}
.ibx-glyph-hierarchy:before {
  content: "\e986";
}
.ibx-glyph-measure:before {
  content: "\e981";
}
.ibx-glyph-dimension:before {
  content: "\e982";
}
.ibx-glyph-date:before {
  content: "\e983";
}
.ibx-glyph-geo:before {
  content: "\e984";
}
.ibx-glyph-number:before {
  content: "\e985";
}
.ibx-glyph-folder:before {
  content: "\e900";
}
.ibx-glyph-page:before {
  content: "\e901";
}
.ibx-glyph-fex:before {
  content: "\e902";
}
.ibx-glyph-fex-chart:before {
  content: "\e903";
}
.ibx-glyph-fex-visualization:before {
  content: "\e904";
}
.ibx-glyph-fex-document:before {
  content: "\e905";
}
.ibx-glyph-fex-data-extract:before {
  content: "\e91d";
}
.ibx-glyph-fex-alert:before {
  content: "\e906";
}
.ibx-glyph-file-pdf:before {
  content: "\e907";
}
.ibx-glyph-file-excel:before {
  content: "\e908";
}
.ibx-glyph-file-powerpoint:before {
  content: "\e909";
}
.ibx-glyph-file-word:before {
  content: "\e90a";
}
.ibx-glyph-file-image:before {
  content: "\e90b";
}
.ibx-glyph-file-html:before {
  content: "\e90c";
}
.ibx-glyph-file-css:before {
  content: "\e90d";
}
.ibx-glyph-file-sty:before {
  content: "\e90e";
}
.ibx-glyph-file-json:before {
  content: "\e90f";
}
.ibx-glyph-file-visdis:before {
  content: "\e910";
}
.ibx-glyph-file-xml:before {
  content: "\e91c";
}
.ibx-glyph-file-unknown:before {
  content: "\e911";
}
.ibx-glyph-url:before {
  content: "\e912";
}
.ibx-glyph-shortcut:before {
  content: "\e913";
}
.ibx-glyph-reporting-object:before {
  content: "\e914";
}
.ibx-glyph-master:before {
  content: "\e915";
}
.ibx-glyph-schedule:before {
  content: "\e916";
}
.ibx-glyph-address-book:before {
  content: "\e917";
}
.ibx-glyph-library:before {
  content: "\e918";
}
.ibx-glyph-access-list:before {
  content: "\e919";
}
.ibx-glyph-deferred-ticket:before {
  content: "\e922";
}
.ibx-glyph-deferred-output:before {
  content: "\e923";
}
.ibx-glyph-blog:before {
  content: "\e924";
}
.ibx-glyph-portal:before {
  content: "\e925";
}
.ibx-glyph-share:before {
  content: "\e91a";
}
.ibx-glyph-user:before {
  content: "\e91b";
}
.ibx-glyph-html5:before {
  content: "\e99d";
}
.ibx-glyph-new:before {
  content: "\e99b";
}
.ibx-glyph-camera:before {
  content: "\e979";
}
.ibx-glyph-pop-out:before {
  content: "\e994";
}
.ibx-glyph-sort-desc:before {
  content: "\e992";
}
.ibx-glyph-sort-asc:before {
  content: "\e993";
}
.ibx-glyph-arrows-v:before {
  content: "\e990";
}
.ibx-glyph-reset:before {
  content: "\e98d";
}
.ibx-glyph-sort-alpha-asc:before {
  content: "\e98b";
}
.ibx-glyph-sort-amount-asc:before {
  content: "\e98c";
}
.ibx-glyph-sort-amount-desc:before {
  content: "\e991";
}
.ibx-glyph-bookmark:before {
  content: "\e988";
}
.ibx-glyph-filter:before {
  content: "\e98a";
}
.ibx-glyph-quick-filter:before {
  content: "\e99e";
}
.ibx-glyph-floppy:before {
  content: "\e92d";
}
.ibx-glyph-arrow-left:before {
  content: "\e92e";
}
.ibx-glyph-arrow-right:before {
  content: "\e93f";
}
.ibx-glyph-new-database:before {
  content: "\e91e";
  color: #000;
}
.ibx-glyph-new-page:before {
  content: "\e91f";
}
.ibx-glyph-new-chart:before {
  content: "\e920";
}
.ibx-glyph-new-visualization:before {
  content: "\e921";
  color: #000;
}
.ibx-glyph-new-table:before {
  content: "\e926";
}
.ibx-glyph-clear-canvas:before {
  content: "\e944";
  color: #000;
}
.ibx-glyph-preview:before {
  content: "\e927";
}
.ibx-glyph-rotate:before {
  content: "\e942";
}
.ibx-glyph-pane_properties:before {
  content: "\e928";
}
.ibx-glyph-pane_resources:before {
  content: "\e929";
}
.ibx-glyph-close:before {
  content: "\e92a";
}
.ibx-glyph-label-top:before {
  content: "\e92b";
  color: #3c3c3c;
}
.ibx-glyph-label-right:before {
  content: "\e92c";
  color: #3c3c3c;
}
.ibx-glyph-label-left:before {
  content: "\e92f";
  color: #3c3c3c;
}
.ibx-glyph-label-none:before {
  content: "\e930";
  color: #3c3c3c;
}
.ibx-glyph-label-bold:before {
  content: "\e945";
}
.ibx-glyph-label-italic:before {
  content: "\e946";
}
.ibx-glyph-label-underline:before {
  content: "\e947";
}
.ibx-glyph-align-left:before {
  content: "\e949";
}
.ibx-glyph-align-center:before {
  content: "\e94a";
}
.ibx-glyph-align-right:before {
  content: "\e94b";
}
.ibx-glyph-cell-merge:before {
  content: "\e931";
  color: #000;
}
.ibx-glyph-cell-split:before {
  content: "\e932";
  color: #000;
}
.ibx-glyph-insert-after:before {
  content: "\e933";
  color: #000;
}
.ibx-glyph-insert-before:before {
  content: "\e934";
  color: #000;
}
.ibx-glyph-drop-target:before {
  content: "\e957";
}
.ibx-glyph-plus-small:before {
  content: "\e958";
}
.ibx-glyph-minus-small:before {
  content: "\e959";
}
.ibx-glyph-chevron-down:before {
  content: "\e95a";
}
.ibx-glyph-chevron-left:before {
  content: "\e95b";
}
.ibx-glyph-chevron-right:before {
  content: "\e95c";
}
.ibx-glyph-chevron-up:before {
  content: "\e95d";
}
.ibx-glyph-arrow_back:before {
  content: "\e95e";
}
.ibx-glyph-arrow_downward:before {
  content: "\e95f";
}
.ibx-glyph-arrow_forward:before {
  content: "\e960";
}
.ibx-glyph-arrow_upward:before {
  content: "\e961";
}
.ibx-glyph-caret-down:before {
  content: "\e962";
}
.ibx-glyph-caret-left:before {
  content: "\e963";
}
.ibx-glyph-caret-right:before {
  content: "\e964";
}
.ibx-glyph-caret-up:before {
  content: "\e965";
}
.ibx-glyph-times-small:before {
  content: "\e966";
}
.ibx-glyph-check:before {
  content: "\e98e";
}
.ibx-glyph-maximize:before {
  content: "\e967";
}
.ibx-glyph-restore:before {
  content: "\e968";
}
.ibx-glyph-search:before {
  content: "\e969";
}
.ibx-glyph-refresh:before {
  content: "\e96a";
}
.ibx-glyph-list:before {
  content: "\e96b";
}
.ibx-glyph-tiles:before {
  content: "\e96c";
}
.ibx-glyph-ellipsis-v:before {
  content: "\e96d";
}
.ibx-glyph-ellipsis-h:before {
  content: "\e96e";
}
.ibx-glyph-play:before {
  content: "\e97c";
}
.ibx-glyph-clock:before {
  content: "\e96f";
}
.ibx-glyph-edit:before {
  content: "\e970";
}
.ibx-glyph-copy:before {
  content: "\e971";
}
.ibx-glyph-cut:before {
  content: "\e972";
}
.ibx-glyph-paste:before {
  content: "\e973";
}
.ibx-glyph-clone:before {
  content: "\e974";
}
.ibx-glyph-favorite:before {
  content: "\e975";
}
.ibx-glyph-hide:before {
  content: "\e976";
}
.ibx-glyph-security:before {
  content: "\e977";
}
.ibx-glyph-properties:before {
  content: "\e978";
}
.ibx-glyph-lock:before {
  content: "\e97a";
}
.ibx-glyph-unlock:before {
  content: "\e97b";
}
.ibx-glyph-plus:before {
  content: "\e97d";
}
.ibx-glyph-minus:before {
  content: "\e99c";
}
.ibx-glyph-trace:before {
  content: "\e97e";
}
.ibx-glyph-heading:before {
  content: "\e97f";
}
.ibx-glyph-autofit:before {
  content: "\e980";
}
.ibx-glyph-sliders:before {
  content: "\e997";
}
.ibx-glyph-checkbox-checked:before {
  content: "\e998";
}
.ibx-glyph-arrow-circle-left:before {
  content: "\f0a8";
}
.ibx-glyph-question:before {
  content: "\e999";
}
.ibx-glyph-paint-brush:before {
  content: "\e99a";
}
.ibx-glyph-bar-chart-small:before {
  content: "\f080";
}
.ibx-glyph-expand:before {
  content: "\f065";
}
.ibx-glyph-compress:before {
  content: "\f066";
}
.ibx-glyph-panel:before {
  content: "\e935";
}
.ibx-glyph-panel-no-header:before {
  content: "\e936";
}
.ibx-glyph-panel-tab:before {
  content: "\e937";
}
.ibx-glyph-panel-accordion:before {
  content: "\e938";
}
.ibx-glyph-panel-slider:before {
  content: "\e939";
}
.ibx-glyph-panel-slideout:before {
  content: "\e93a";
}
.ibx-glyph-panel-accordion-filter:before {
  content: "\e93b";
}
.ibx-glyph-grid-three-column:before {
  content: "\e93c";
}
.ibx-glyph-explorer:before {
  content: "\e93d";
}
.ibx-glyph-link-tile:before {
  content: "\e93e";
}
.ibx-glyph-dropdown:before {
  content: "\e940";
}
.ibx-glyph-listbox:before {
  content: "\e941";
}
.ibx-glyph-double-listbox:before {
  content: "\e943";
}
.ibx-glyph-radio:before {
  content: "\e948";
}
.ibx-glyph-checkbox:before {
  content: "\e94c";
}
.ibx-glyph-switch:before {
  content: "\e94d";
}
.ibx-glyph-calendar:before {
  content: "\e94e";
}
.ibx-glyph-calendar-range:before {
  content: "\e94f";
}
.ibx-glyph-button-group:before {
  content: "\e950";
}
.ibx-glyph-slider:before {
  content: "\e951";
}
.ibx-glyph-slider-range:before {
  content: "\e952";
}
.ibx-glyph-label:before {
  content: "\e953";
}
.ibx-glyph-text-input:before {
  content: "\e954";
}
.ibx-glyph-button:before {
  content: "\e955";
  color: #606060;
}
.ibx-glyph-submit:before {
  content: "\e9a4";
  color: #606060;
}
.ibx-glyph-text-area:before {
  content: "\e956";
}
.ibx-glyph-save:before {
  content: "\e995";
}
.ibx-glyph-preset:before {
  content: "\e996";
}