/*------ Do not changed ------*/
@font-face {
  font-family: 'ibx Icons';
  src:  url('../fonts/ibx-font.eot?z4id0a');
  src:  url('../fonts/ibx-font.eot?z4id0a#iefix') format('embedded-opentype'),
/*    url('../fonts/ibx-font.woff2?z4id0a') format('woff2'),*/
    url('../fonts/ibx-font.ttf?z4id0a') format('truetype'),
    url('../fonts/ibx-font.woff?z4id0a') format('woff'),
    url('../fonts/ibx-font.svg?z4id0a#ibx-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ibx-icons{
	font-family: 'ibx Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
/*------ Do not changed ------*/

.ibx-glyph-filter-small:before {
  content: "\e9ca";
}
.ibx-glyph-average:before {
  content: "\e9c2";
}
.ibx-glyph-count:before {
  content: "\e9c3";
}
.ibx-glyph-summary:before {
  content: "\e9c1";
}
.ibx-glyph-axis-1:before {
  content: "\e9a2";
}
.ibx-glyph-axis-2:before {
  content: "\e9a3";
}
.ibx-glyph-matrix-columns:before {
  content: "\e99f";
}
.ibx-glyph-matrix-rows:before {
  content: "\e9a0";
}
.ibx-glyph-merge-group:before {
  content: "\e9a1";
}
.ibx-glyph-key:before {
  content: "\e98f";
}
.ibx-glyph-folder-open-o:before {
  content: "\e987";
}
.ibx-glyph-folder-o:before {
  content: "\e989";
}
.ibx-glyph-hierarchy:before {
  content: "\e986";
}
.ibx-glyph-measure:before {
  content: "\e981";
}
.ibx-glyph-dimension:before {
  content: "\e982";
}
.ibx-glyph-date:before {
  content: "\e983";
}
.ibx-glyph-geo:before {
  content: "\e984";
}
.ibx-glyph-number:before {
  content: "\e985";
}
.ibx-glyph-workbook:before {
  content: "\e947";
}
.ibx-glyph-file-ely:before {
  content: "\e9c8";
  color: #000;
}
.ibx-glyph-file-zip:before {
  content: "\e9c9";
}
.ibx-glyph-what-if-icon:before {
  content: "\e9c7";
}
.ibx-glyph-what-if:before {
  content: "\e9c6";
}
.ibx-glyph-folder:before {
  content: "\e900";
}
.ibx-glyph-page:before {
  content: "\e901";
}
.ibx-glyph-fex:before {
  content: "\e902";
}
.ibx-glyph-fex-chart:before {
  content: "\e903";
}
.ibx-glyph-fex-visualization:before {
  content: "\e904";
}
.ibx-glyph-fex-document:before {
  content: "\e905";
}
.ibx-glyph-fex-data-extract:before {
  content: "\e91d";
}
.ibx-glyph-fex-alert:before {
  content: "\e906";
}
.ibx-glyph-file-pdf:before {
  content: "\e907";
}
.ibx-glyph-file-excel:before {
  content: "\e908";
}
.ibx-glyph-file-powerpoint:before {
  content: "\e909";
}
.ibx-glyph-file-word:before {
  content: "\e90a";
}
.ibx-glyph-file-image:before {
  content: "\e90b";
}
.ibx-glyph-file-html:before {
  content: "\e90c";
}
.ibx-glyph-file-css:before {
  content: "\e90d";
}
.ibx-glyph-file-js:before {
  content: "\e9f7";
}
.ibx-glyph-file-sty:before {
  content: "\e90e";
}
.ibx-glyph-file-json:before {
  content: "\e90f";
}
.ibx-glyph-file-visdis:before {
  content: "\e910";
}
.ibx-glyph-file-xml:before {
  content: "\e91c";
}
.ibx-glyph-file-unknown:before {
  content: "\e911";
}
.ibx-glyph-url:before {
  content: "\e912";
}
.ibx-glyph-shortcut:before {
  content: "\e913";
}
.ibx-glyph-reporting-object:before {
  content: "\e914";
}
.ibx-glyph-master:before {
  content: "\e915";
}
.ibx-glyph-schedule:before {
  content: "\e916";
}
.ibx-glyph-address-book:before {
  content: "\e917";
}
.ibx-glyph-library:before {
  content: "\e918";
}
.ibx-glyph-access-list:before {
  content: "\e919";
}
.ibx-glyph-deferred-ticket:before {
  content: "\e922";
}
.ibx-glyph-deferred-output:before {
  content: "\e923";
}
.ibx-glyph-blog:before {
  content: "\e924";
}
.ibx-glyph-portal:before {
  content: "\e925";
}
.ibx-glyph-share:before {
  content: "\e91a";
}
.ibx-glyph-user:before {
  content: "\e91b";
}
.ibx-glyph-html5:before {
  content: "\e99d";
}
.ibx-glyph-play:before {
  content: "\e97c";
}
.ibx-glyph-minus:before {
  content: "\e99c";
}
.ibx-glyph-search:before {
  content: "\e969";
}
.ibx-glyph-refresh:before {
  content: "\e96a";
}
.ibx-glyph-clock:before {
  content: "\e96f";
}
.ibx-glyph-edit:before {
  content: "\e970";
}
.ibx-glyph-copy:before {
  content: "\e971";
}
.ibx-glyph-cut:before {
  content: "\e972";
}
.ibx-glyph-paste:before {
  content: "\e973";
}
.ibx-glyph-clone:before {
  content: "\e974";
}
.ibx-glyph-favorite:before {
  content: "\e975";
}
.ibx-glyph-hide:before {
  content: "\e976";
}
.ibx-glyph-security:before {
  content: "\e977";
}
.ibx-glyph-properties:before {
  content: "\e978";
}
.ibx-glyph-lock:before {
  content: "\e97a";
}
.ibx-glyph-unlock:before {
  content: "\e97b";
}
.ibx-glyph-exclamation:before {
  content: "\ea3a";
}
.ibx-glyph-chevron-last:before {
  content: "\ea38";
}
.ibx-glyph-chevron-first:before {
  content: "\ea39";
}
.ibx-glyph-embed-content:before {
  content: "\ea37";
}
.ibx-glyph-add-page:before {
  content: "\ea36";
}
.ibx-glyph-add-data:before {
  content: "\ea33";
}
.ibx-glyph-add-overlay:before {
  content: "\ea34";
}
.ibx-glyph-add-content:before {
  content: "\ea35";
}
.ibx-glyph-plus-small-thin:before {
  content: "\ea32";
}
.ibx-glyph-highlight:before {
  content: "\ea2e";
}
.ibx-glyph-base-map:before {
  content: "\ea26";
}
.ibx-glyph-selection-deselect:before {
  content: "\ea27";
}
.ibx-glyph-selection-clear:before {
  content: "\ea1c";
}
.ibx-glyph-selection-polygon:before {
  content: "\ea23";
}
.ibx-glyph-selection-polyline:before {
  content: "\ea24";
}
.ibx-glyph-selection-circle:before {
  content: "\ea1d";
}
.ibx-glyph-selection-square:before {
  content: "\ea1e";
}
.ibx-glyph-selection-pan:before {
  content: "\ea1f";
}
.ibx-glyph-outline-content:before {
  content: "\ea30";
}
.ibx-glyph-outline-control:before {
  content: "\ea2f";
}
.ibx-glyph-outline-filter-grid:before {
  content: "\ea19";
}
.ibx-glyph-outline-filter-cell:before {
  content: "\ea31";
}
.ibx-glyph-outline-section:before {
  content: "\ea1a";
}
.ibx-glyph-outline-panel-group:before {
  content: "\ea1b";
}
.ibx-glyph-view-presentation:before {
  content: "\ea17";
}
.ibx-glyph-view-new-window:before {
  content: "\ea18";
}
.ibx-glyph-outline-basic:before {
  content: "\ea16";
}
.ibx-glyph-outline-tab:before {
  content: "\ea13";
}
.ibx-glyph-outline-accordion:before {
  content: "\ea14";
}
.ibx-glyph-outline-slider:before {
  content: "\ea15";
}
.ibx-glyph-case-sensitive:before {
  content: "\ea12";
}
.ibx-glyph-map-line:before {
  content: "\ea0a";
}
.ibx-glyph-map-polygon-2:before {
  content: "\ea0b";
}
.ibx-glyph-map-polygon:before {
  content: "\ea0c";
}
.ibx-glyph-new-app:before {
  content: "\ea07";
}
.ibx-glyph-add-verb:before {
  content: "\ea04";
}
.ibx-glyph-verb-sum:before {
  content: "\ea05";
}
.ibx-glyph-verb-print:before {
  content: "\ea06";
}
.ibx-glyph-verb-list:before {
  content: "\ea21";
}
.ibx-glyph-verb-count:before {
  content: "\ea22";
}
.ibx-glyph-clear-filter:before {
  content: "\ea03";
}
.ibx-glyph-bar-chart:before {
  content: "\ea02";
}
.ibx-glyph-line-chart:before {
  content: "\ea0d";
}
.ibx-glyph-area-chart:before {
  content: "\ea2a";
}
.ibx-glyph-pie-chart:before {
  content: "\ea0e";
}
.ibx-glyph-ring-pie-chart:before {
  content: "\ea25";
}
.ibx-glyph-scatter-chart:before {
  content: "\ea0f";
}
.ibx-glyph-treemap-chart:before {
  content: "\ea2b";
}
.ibx-glyph-grid-chart:before {
  content: "\ea29";
}
.ibx-glyph-matrix-marker-chart:before {
  content: "\ea2c";
}
.ibx-glyph-other-chart:before {
  content: "\ea2d";
}
.ibx-glyph-upload:before {
  content: "\e946";
}
.ibx-glyph-type-data:before {
  content: "\e945";
}
.ibx-glyph-type-report:before {
  content: "\e9fc";
}
.ibx-glyph-type-page:before {
  content: "\e9fd";
}
.ibx-glyph-type-chart:before {
  content: "\e9fe";
}
.ibx-glyph-annotate:before {
  content: "\e9fb";
}
.ibx-glyph-hilite:before {
  content: "\e9f9";
}
.ibx-glyph-hilite-tip:before {
  content: "\e9fa";
}
.ibx-glyph-inspect-1:before {
  content: "\e9f4";
}
.ibx-glyph-inspect-2:before {
  content: "\e9f5";
}
.ibx-glyph-plus-thin:before {
  content: "\e9ef";
}
.ibx-glyph-route:before {
  content: "\ea08";
}
.ibx-glyph-choropleth:before {
  content: "\ea09";
}
.ibx-glyph-map-point-bubble:before {
  content: "\e9e0";
}
.ibx-glyph-map-point-density-1:before {
  content: "\e9e2";
}
.ibx-glyph-map-point-density-2:before {
  content: "\e9e3";
}
.ibx-glyph-map-point-marker:before {
  content: "\e9e4";
}
.ibx-glyph-funnel:before {
  content: "\e9d8";
}
.ibx-glyph-pyramid:before {
  content: "\e9d9";
}
.ibx-glyph-shape-square:before {
  content: "\e9da";
}
.ibx-glyph-shape-circle:before {
  content: "\e9db";
}
.ibx-glyph-shape-fill:before {
  content: "\e9dc";
}
.ibx-glyph-gauge-needle:before {
  content: "\e9dd";
}
.ibx-glyph-gauge-simple:before {
  content: "\e9de";
}
.ibx-glyph-gauge-label:before {
  content: "\e9e1";
}
.ibx-glyph-stacked:before {
  content: "\e9d4";
}
.ibx-glyph-side-by-side:before {
  content: "\e9d5";
}
.ibx-glyph-absolute:before {
  content: "\e9d6";
}
.ibx-glyph-percent:before {
  content: "\e9d7";
}
.ibx-glyph-greater-than-or-equal:before {
  content: "\e9bc";
}
.ibx-glyph-less-than-or-equal:before {
  content: "\e9be";
}
.ibx-glyph-greater-than:before {
  content: "\e9bf";
}
.ibx-glyph-less-than:before {
  content: "\e9c0";
}
.ibx-glyph-profile-data:before {
  content: "\e9b7";
}
.ibx-glyph-profile-data-2:before {
  content: "\e9f8";
}
.ibx-glyph-insight:before {
  content: "\e9b5";
}
.ibx-glyph-join-inner:before {
  content: "\e9af";
}
.ibx-glyph-join-left-outer:before {
  content: "\e9b0";
}
.ibx-glyph-join-right-outer:before {
  content: "\e9b2";
}
.ibx-glyph-join-full-outer:before {
  content: "\e9b3";
}
.ibx-glyph-join-none:before {
  content: "\e9b4";
}
.ibx-glyph-layout:before {
  content: "\e9b6";
}
.ibx-glyph-header:before {
  content: "\e9ab";
}
.ibx-glyph-footer:before {
  content: "\e9ac";
}
.ibx-glyph-split-y:before {
  content: "\e9ad";
}
.ibx-glyph-log-scale:before {
  content: "\e9ae";
}
.ibx-glyph-reset-thin:before {
  content: "\e9b1";
}
.ibx-glyph-new:before {
  content: "\e99b";
}
.ibx-glyph-camera:before {
  content: "\e979";
}
.ibx-glyph-pop-out:before {
  content: "\e994";
}
.ibx-glyph-sort-desc:before {
  content: "\e992";
}
.ibx-glyph-sort-asc:before {
  content: "\e993";
}
.ibx-glyph-arrows-v:before {
  content: "\e990";
}
.ibx-glyph-reset:before {
  content: "\e98d";
}
.ibx-glyph-sort-alpha-asc:before {
  content: "\e98b";
}
.ibx-glyph-sort-alpha-desc:before {
  content: "\ea20";
}
.ibx-glyph-sort-amount-asc:before {
  content: "\e98c";
}
.ibx-glyph-sort-amount-desc:before {
  content: "\e991";
}
.ibx-glyph-bookmark:before {
  content: "\e988";
}
.ibx-glyph-filter:before {
  content: "\e98a";
}
.ibx-glyph-quick-filter:before {
  content: "\e99e";
}
.ibx-glyph-floppy:before {
  content: "\e92d";
}
.ibx-glyph-arrow-left:before {
  content: "\e92e";
}
.ibx-glyph-arrow-right:before {
  content: "\e93f";
}
.ibx-glyph-new-database:before {
  content: "\e91e";
}
.ibx-glyph-new-page:before {
  content: "\e91f";
}
.ibx-glyph-new-chart:before {
  content: "\e920";
}
.ibx-glyph-new-visualization:before {
  content: "\e921";
}
.ibx-glyph-new-data-flow:before {
  content: "\e9ba";
}
.ibx-glyph-new-portal:before {
  content: "\e9bd";
}
.ibx-glyph-new-table:before {
  content: "\e926";
}
.ibx-glyph-clear-canvas:before {
  content: "\e944";
}
.ibx-glyph-preview:before {
  content: "\e927";
}
.ibx-glyph-rotate:before {
  content: "\e942";
}
.ibx-glyph-pane_properties:before {
  content: "\e928";
}
.ibx-glyph-pane_resources:before {
  content: "\e929";
}
.ibx-glyph-pane_buckets:before {
  content: "\e9bb";
}
.ibx-glyph-close:before {
  content: "\e92a";
}
.ibx-glyph-label-top:before {
  content: "\e92b";
}
.ibx-glyph-label-right:before {
  content: "\e92c";
}
.ibx-glyph-label-left:before {
  content: "\e92f";
}
.ibx-glyph-label-none:before {
  content: "\e930";
}
.ibx-glyph-label-bold:before {
  content: "\e948";
}
.ibx-glyph-label-italic:before {
  content: "\e949";
}
.ibx-glyph-label-underline:before {
  content: "\e94a";
}
.ibx-glyph-align-left:before {
  content: "\e94b";
}
.ibx-glyph-align-center:before {
  content: "\e94c";
}
.ibx-glyph-align-right:before {
  content: "\e94d";
}
.ibx-glyph-align-justify:before {
  content: "\ea3b";
}
.ibx-glyph-cell-merge:before {
  content: "\e931";
}
.ibx-glyph-cell-split:before {
  content: "\e932";
}
.ibx-glyph-insert-after:before {
  content: "\e933";
}
.ibx-glyph-insert-before:before {
  content: "\e934";
}
.ibx-glyph-insert-left:before {
  content: "\e9b8";
}
.ibx-glyph-insert-right:before {
  content: "\e9b9";
}
.ibx-glyph-drop-target:before {
  content: "\e957";
}
.ibx-glyph-plus-small:before {
  content: "\e958";
}
.ibx-glyph-minus-small:before {
  content: "\e959";
}
.ibx-glyph-chevron-down:before {
  content: "\e95a";
}
.ibx-glyph-chevron-left:before {
  content: "\e95b";
}
.ibx-glyph-chevron-right:before {
  content: "\e95c";
}
.ibx-glyph-chevron-up:before {
  content: "\e95d";
}
.ibx-glyph-arrow_back:before {
  content: "\e95e";
}
.ibx-glyph-arrow_downward:before {
  content: "\e95f";
}
.ibx-glyph-arrow_forward:before {
  content: "\e960";
}
.ibx-glyph-arrow_upward:before {
  content: "\e961";
}
.ibx-glyph-caret-down:before {
  content: "\e962";
}
.ibx-glyph-caret-left:before {
  content: "\e963";
}
.ibx-glyph-caret-right:before {
  content: "\e964";
}
.ibx-glyph-caret-up:before {
  content: "\e965";
}
.ibx-glyph-times-small:before {
  content: "\e966";
}
.ibx-glyph-check:before {
  content: "\e98e";
}
.ibx-glyph-minimize:before {
  content: "\ea28";
}
.ibx-glyph-maximize:before {
  content: "\e967";
}
.ibx-glyph-restore:before {
  content: "\e968";
}
.ibx-glyph-list:before {
  content: "\e96b";
}
.ibx-glyph-tiles:before {
  content: "\e96c";
}
.ibx-glyph-ellipsis-v:before {
  content: "\e96d";
}
.ibx-glyph-ellipsis-h:before {
  content: "\e96e";
}
.ibx-glyph-trace:before {
  content: "\e97e";
}
.ibx-glyph-heading:before {
  content: "\e97f";
}
.ibx-glyph-autofit:before {
  content: "\e980";
}
.ibx-glyph-sliders:before {
  content: "\e997";
}
.ibx-glyph-checkbox-checked:before {
  content: "\e998";
}
.ibx-glyph-align-control-top:before {
  content: "\e9a5";
}
.ibx-glyph-align-control-middle:before {
  content: "\e9a6";
}
.ibx-glyph-align-control-bottom:before {
  content: "\e9a7";
}
.ibx-glyph-align-control-left:before {
  content: "\e9a8";
}
.ibx-glyph-align-control-center:before {
  content: "\e9a9";
}
.ibx-glyph-align-control-right:before {
  content: "\e9aa";
}
.ibx-glyph-bars:before {
  content: "\ea11";
}
.ibx-glyph-ellipsis-h-sm:before {
  content: "\e9e5";
}
.ibx-glyph-ellipsis-v-sm:before {
  content: "\e9e6";
}
.ibx-glyph-animate:before {
  content: "\e9d2";
}
.ibx-glyph-small-multiples:before {
  content: "\e9d3";
}
.ibx-glyph-columns:before {
  content: "\e9cb";
}
.ibx-glyph-rows:before {
  content: "\e9cc";
}
.ibx-glyph-y-axis:before {
  content: "\e9cd";
}
.ibx-glyph-y2-axis:before {
  content: "\e9d0";
}
.ibx-glyph-x-axis:before {
  content: "\e9ce";
}
.ibx-glyph-x2-axis:before {
  content: "\e9d1";
}
.ibx-glyph-axis-grid:before {
  content: "\e9f6";
}
.ibx-glyph-prompt:before {
  content: "\e9cf";
}
.ibx-glyph-tree:before {
  content: "\e9c5";
}
.ibx-glyph-connect:before {
  content: "\e9c4";
}
.ibx-glyph-arrow-circle-left:before {
  content: "\f0a8";
}
.ibx-glyph-plus:before {
  content: "\e97d";
}
.ibx-glyph-question:before {
  content: "\e999";
}
.ibx-glyph-paint-brush:before {
  content: "\e99a";
}
.ibx-glyph-bar-chart-small:before {
  content: "\f080";
}
.ibx-glyph-expand:before {
  content: "\f065";
}
.ibx-glyph-compress:before {
  content: "\f066";
}
.ibx-glyph-union-1:before {
  content: "\e9df";
}
.ibx-glyph-union-2:before {
  content: "\e9f3";
}
.ibx-glyph-query-3:before {
  content: "\e9f2";
}
.ibx-glyph-query-1:before {
  content: "\e9f0";
}
.ibx-glyph-query-2:before {
  content: "\e9f1";
}
.ibx-glyph-aggregate:before {
  content: "\e9eb";
}
.ibx-glyph-detail:before {
  content: "\e9ec";
}
.ibx-glyph-pivot:before {
  content: "\e9ed";
}
.ibx-glyph-transpose:before {
  content: "\e9ee";
}
.ibx-glyph-python-1:before {
  content: "\e9e7";
}
.ibx-glyph-python-2:before {
  content: "\e9e8";
}
.ibx-glyph-r-1:before {
  content: "\e9e9";
}
.ibx-glyph-r-2:before {
  content: "\e9ea";
}
.ibx-glyph-panel:before {
  content: "\e935";
}
.ibx-glyph-panel-no-header:before {
  content: "\e936";
}
.ibx-glyph-panel-tab:before {
  content: "\e937";
}
.ibx-glyph-panel-accordion:before {
  content: "\e938";
}
.ibx-glyph-panel-slider:before {
  content: "\e939";
}
.ibx-glyph-panel-slideout:before {
  content: "\e93a";
}
.ibx-glyph-panel-accordion-filter:before {
  content: "\e93b";
}
.ibx-glyph-grid-three-column:before {
  content: "\e93c";
}
.ibx-glyph-panel-in-panel:before {
  content: "\ea10";
}
.ibx-glyph-explorer:before {
  content: "\e93d";
}
.ibx-glyph-link-tile:before {
  content: "\e93e";
}
.ibx-glyph-dropdown:before {
  content: "\e940";
}
.ibx-glyph-listbox:before {
  content: "\e941";
}
.ibx-glyph-double-listbox:before {
  content: "\e943";
}
.ibx-glyph-radio:before {
  content: "\e94e";
}
.ibx-glyph-checkbox:before {
  content: "\e94f";
}
.ibx-glyph-switch:before {
  content: "\e950";
}
.ibx-glyph-calendar:before {
  content: "\e951";
}
.ibx-glyph-calendar-range:before {
  content: "\e952";
}
.ibx-glyph-button-group:before {
  content: "\e953";
}
.ibx-glyph-slider:before {
  content: "\e954";
}
.ibx-glyph-slider-range:before {
  content: "\e955";
}
.ibx-glyph-label:before {
  content: "\e956";
}
.ibx-glyph-text-input:before {
  content: "\e995";
}
.ibx-glyph-button:before {
  content: "\e996";
}
.ibx-glyph-submit:before {
  content: "\e9a4";
}
.ibx-glyph-text-area:before {
  content: "\e9ff";
}
.ibx-glyph-save:before {
  content: "\ea00";
}
.ibx-glyph-preset:before {
  content: "\ea01";
}
