html, body {
    min-height: 100%;
}

body {
    position: relative;
}

#main {
    min-height: 100vw;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

h3 {
    text-decoration: underline;
}

/*button styling*/
[role="button"][aria-pressed="true"] {
    border: 2px solid red;
}

div[role="button"] {
    cursor: pointer;
}

/*progress styling*/
div#progress-container {
    border: 2px solid black;
    position: relative;
}

div#progress-container > div#progress-bar {
    height: 40px;
    background-color: green;
}

/*dialog styling*/
div#d-ex {
    position: absolute;
    top: 30vh;
    left: 30vw;
    z-index: 11;
    min-width: 30vw;
    border: 1px solid black;
    box-shadow: 7px 7px 3px black;
    background-color: white;
}

[aria-hidden="true"] {
    visibility: hidden;
    display: none;
}

[role="tabpanel"] {
    border: 2px solid black;
    padding: 10px;
}