/*Copyright 1996-2017 Information Builders, Inc. All rights reserved.*/
/* $Revision: 1.2 $: */

.ibx-dialog.text-editor
{
	width:900px;
	height:600px;
}

.text-editor .ibx-dialog-main-box
{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
}

.te-tool-bar
{
	padding:0px;
	margin-bottom:4px;
	border-bottom:1px solid #ccc;
}

.te-tb-btn
{
	margin:3px;
}

.te-menu-bar
{
	padding:3px;
	margin-bottom:4px;
}

.te-btn-menu
{
	margin-right:10px;
}

.te-txt-area
{
	flex:1 1 auto;
	font-family:Courier New, Courier, monospace;
	font-size:12px;
	margin-top:10px;
}


.te-search-go-to-line
{
	margin-top:10px;
}
.txtGoToLine
{
	width:50px;
	margin-right:10px;
}
.btnGoToLine
{			

}
.btnCloseGoToLine
{				

}


.te-search-find-replace
{
	margin-top:10px;
}			
.te-search-find-replace-1
{
}
.findLbl
{
	width:120px;			
}
.findText
{
	width:250px;
	margin-left:20px;
}
.btnFindPrevious
{
	margin-left:20px;
	width:100px;
}
.btnFind
{
	margin-left:5px;
	width:100px;
}
.btnReplace
{
	margin-left:5px;
	width:100px;
}
.te-search-find-replace-2
{
	margin-top:5px;
}
.replaceLbl
{
	width:120px;
}
.replaceText
{
	width:250px;
	margin-left:20px;
}
.btnReplaceAll
{
	margin-left:20px;
	width:100px;
}
.btnUndo
{
	margin-left:5px;
	width:100px;
}
.btnFindClose
{
	margin-left:5px;
	width:100px;
}
.te-search-find-replace-3
{
	margin-top:5px;
}
.cbMatchCase
{
	margin-left:400px;
}
			

.te-status-bar
{
	margin-top:10px;
}
.te-sb-line-marker-label
{
	margin-right:0px;
}			
.te-sb-line-marker-value
{
	margin-right:50px;
}			
.te-sb-column-marker-label
{
	margin-right:0px;
}			
.te-sb-column-marker-value
{
	margin-right:50px;
}


.text-editor-options
{
	width:400px;
}			
.te-options-srvChk
{
	margin-top:10px;
}
.te-options-srvList
{
	margin-top:10px;
}
.te-options-appChk
{
	margin-top:10px;
}
.te-options-appBtn
{
	margin-top:10px;
	align-self:flex-start;				
}
.te-options-app-hbox
{
	margin-top:20px;
}
.te-options-list-wrapper
{
	height:200px;
}
.te-options-avlapplist
{
	width:100%;
}
.te-options-selapplist
{
	width:100%;
}
.te-options-avail-lbl
{

}
.te-options-sel-header
{

}
.te-options-sel-lbl
{

}			
.te-options-ap-down-app-btns
{

}
.te-options-sel-del-app-btns
{

}
.te-options-selAppBtn
{

}
.te-options-delAppBtn
{

}
.te-options-appUp
{

}
.te-options-downUp
{

}
.te-options-paramPrompt
{
	margin-top:10px;
}