/*Copyright 1996-2018 Information Builders, Inc. All rights reserved.*/
/* $Revision: 1.3 $: */

html, body
{
	width:100%;
	height:100%;
	margin:0px;
	box-sizing:border-box;
	overflow: hidden;
	/* background-color:red; */
}

.main-box
{
	width:100%;
	height:100%;
	padding:5px;
	box-sizing:border-box;
	/* border: 3px solid green; */
}

.text-editor
{
	box-sizing:border-box;
 	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	/* border: 5px solid red; */
}

.wf-ace-text-editor.ace_editor
{
	width:100%;
	position:relative;
	box-sizing:border-box;
    flex: 1 1 auto;
	/* border: 1px solid blue; */
}

.te-tab-pane 
{
	flex: 1 0 auto;
	box-sizing:border-box;
	
	/* border: 1px solid yellow; */
}

.text-editor-tab-page
{
	display:flex;
	flex-direction:column;
	box-sizing:border-box;
	position:relative;
/* border: 5px solid magenta;  */
}

.text-editor-tab-page-close-button
{
	margin-left:10px;
}

.te-tool-bar
{
	box-sizing:border-box;
	/* border-bottom:1px solid #ccc; */
}

.te-menu-bar
{
	/* background-color : #000000; */
}

.te-menu-button
{
	/* margin-right:10px; */
	flex:0 0 auto;
	font-size:18px;
	margin:2px;
	padding:2px;
}

.te-menu-file
{
	background-color : #35b8fe;
}

.te-menu-item
{
	
}
.te-menu-separator
{
	
}

.te-search-panel
{
	position:relative;
	flex:0 1 auto;
	padding:5px;
	/* background-color:gray; */
}

.findLbl
{
	margin-left:15px;
	margin-right:5px;
}
.findText
{
	width:200px;
}

.replaceLbl
{
	margin-left:20px;
	margin-right:5px;
}
.replaceText
{
	width:200px;
}

.cbMatchCase
{
	margin-left:15px;
}
.cbMatchWholeWord
{
	margin-top:10px;
	margin-left:15px;
	margin-bottom:10px;
}
.cbWrapAround
{
	margin-left:15px;
}

.btnFindNext
{
	width:100px;
}
.btnReplaceNext
{
	margin-top:5px;
	width:100px;
	margin-bottom:5px;	
}
.btnReplaceAll
{
	width:100px;
}

.te-status-bar
{
	margin-top:10px;
}
.te-sb-length-marker-label
{
	margin-left:10px;
	margin-right:0px;
}			
.te-sb-length-marker-value
{
	margin-left:5px;
	margin-right:50px;
}
.te-sb-lines-marker-label
{
	margin-right:0px;
}			
.te-sb-lines-marker-value
{
	margin-left:5px;
	margin-right:50px;
}
.te-sb-line-marker-label
{
	margin-right:0px;
}			
.te-sb-line-marker-value
{
	margin-left:5px;
	margin-right:50px;
}			
.te-sb-column-marker-label
{
	margin-right:0px;
}			
.te-sb-column-marker-value
{
	margin-left:5px;
	margin-right:50px;
}
.te-sb-insert-marker-label
{
	margin-right:0px;
}			
.te-sb-insert-marker-value
{
	margin-left:5px;
}		

.te-menu-separator4
{
	flex : 1 1 auto;
}
.editor-tb-separator
{
	align-self:stretch;
	border-left:1px solid #ccc;
	margin:2px 8px 2px 8px;
}